name: Build and Deploy
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 3 * * *'  # run at during the 3rd hour of each day
jobs:
  build-and-deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'

      - name: Install project and dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          export

      - name: Build static page
        shell: bash
        run: |
            make clean
            make html

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.64.0'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.DEPLOY_KEY }}
          external_repository:  covid19-dash/covid19-dash.github.io
          publish_branch: master
          publish_dir: ./127.0.0.1:8050
